name: Publish
on:
  push:
    branch:
      - master

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - run: |
        cd src/RuntimeT4Generator.Roslyn3
        dotnet build -c Release
      - uses: rohith/publish-nuget@v2
        with:
          VERSION_FILE_PATH: src/Directory.Build.props
          PROJECT_FILE_PATH: src/RuntimeT4Generator/RuntimeT4Generator.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
